<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="filePath" value="C:\Users\zaiom\Desktop"/>
		<add key="greaterWins" value="1"/>
		<add key="senderEmail" value="qweter321@gmail.com"/>
		<add key="senderDisplayName" value="zaiomek"/>
	</appSettings>
	<connectionStrings>
		<add name="Tournaments" connectionString="Server=ZAIOMKOMPIUTA;Database=Tournaments;Trusted_Connection=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" port="25" enableSSl="false"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>